body {
    justify-content: center;
    align-items: flex-start;
    background-color: rgb(175, 72, 72);
    border: 15px solid black;
    min-height: 1000px;
    top: 80px

}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative
}

.link {
    color: black;
    margin-left: 10px;
    margin-right: 10px;
}

.biomediv {
    display: flex;
    flex-direction: column;
    background-image: 'https://cdnb.artstation.com/p/assets/images/images/019/585/585/large/ritesh-pawar-caveaa.jpg?1564145923';
    max-width: 600px;
    max-height: 400px;
    min-width: 600px;
    min-height: 400px;
    margin: auto;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;

}
.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: black;
    margin: auto;
    margin-top: 10px
}
.btndiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.biomeimg {
    position: relative;
    top: 20px;
    min-width: 600px;
    min-height: 400px;
    max-width: 600px;
    max-height: 400px;   
    margin: auto;
    border: 15px solid black
}

.itemimg {
    bottom: 75px;
    left: 270px;
    position: absolute;
    width: 125px;
    height: auto;
}

.wildpokeimg {
    bottom: 50px;
    left: 270px;
    position: absolute;
    width: 200px;
    height: auto;
}

.mypokemon {
    bottom: 5px;
    top: 150px;
    left: 20px;
    position: absolute;
    width: 300px;
    height: auto;
}

.headerdiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header {
    margin: auto;
}

.narration {
    margin-left: auto;
    margin-right: auto;
}

.centered {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.user {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modal{
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    overflow: auto;
    z-index: 99998;
  }

  .toast {
    z-index: 99999;
  }

  .acnbtn {
    z-index: 2
  }

  .boxdiv {
    position: relative;
    top: 150px;
    width: 800px;
    height: auto;
    background-color: aliceblue;
    border: 10px solid black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: black;
  }

  .pkctrmenudiv {
    display: flex;
    flex-direction: row;
  }