body {
    justify-content: center;
}



.biomediv {
    background-image: 'https://cdnb.artstation.com/p/assets/images/images/019/585/585/large/ritesh-pawar-caveaa.jpg?1564145923';
    max-width: 600px;
    max-height: 400px;
    margin: auto;
    justify-content: center;
    align-items: center;
    position: relative;
}

.biomeimg {
    max-width: 600px;
    max-height: 400px;   
    margin: auto;
}

.itemimg {
    bottom: 100px;
    left: 200px;
    position: absolute;
    width: 100px;
    height: auto;
}

.pokeimg {
    bottom: 100px;
    left: 200px;
    position: absolute;
    width: 200px;
    height: auto;
}