.team-pokemon {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

/* .team-spot { */
    /* Your existing styles */
/* } */

.selected {
    border: 2px solid rgb(255, 255, 255); /* Or any color and thickness you like */
}

.party-member {
    height: fit-content;
    width: fit-content;
}

.team {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#team-row1, #team-row2{
    display: flex;
    flex-direction: row;
}